[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
urllib3 = "<=1.26.15"
django-environ = "*"
spotipy = "*"
cryptography = "*"
django-cryptography = "*"

[dev-packages]

[requires]
python_version = "3.8"
